.sidebar-display-noneForLaptop-blockForMobile{
    display: none;
}



@media screen and (max-width: 600px){
    .sidebar {
        width: 84%;
        height: 100%;
        position: fixed;
        top: 9%;
        left: -84%;
        background-color: white;
        transition: left 0.3s ease;
    }
    
    .sidebar.open {
        left: 0;
        box-shadow: 16px 1px 30px rgb(26, 26, 26);
    }

    
    .sidebar-display-noneForLaptop-blockForMobile {
        display: block;
        height: 100vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    
    .font-family-of-sidebars {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        color: #3d3d3d;
    }
    
}